body{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #61C9A8;
}

.container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.header{
    display:flex;
    font-size: x-large;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    color: black
}

.game-board{
    display: flex;
    flex-direction: column;

}

.row-element{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFEEDB;
}

.board-element{
    display: flex;
    border-style: solid;
    width: 250px;
    height:250px;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    font-size: 1000%;
}

.board-element-click{
    display: flex;
    border-style: solid;
    width: 250px;
    height:250px;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    font-size: 1000%;
    background-color: #BA3B46;
}

.winner-text{
    display:flex;
    font-size: xx-large;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    padding: 40px;
    font-weight: 700;
    color: black
}
